<div class="collection">
  <div class="collection__wrapper">
    <div class="collection__header">
      <div class="collection__title">
        {{ collectionName }} ({{ templates.length }})
      </div>
      <div class="collection__more">
        <a (click)="onClickMore()" nzSize="small" nz-button nzType="link">
          <i
            nz-icon
            [nzType]="isExpand ? 'down' : 'right'"
            nzTheme="outline"
          ></i>
        </a>
      </div>
    </div>
    <div class="collection__body">
      <nz-skeleton
        *ngIf="(loading$ | async) === true"
        [nzActive]="true"
      ></nz-skeleton>
      <div
        class="store"
        *ngIf="(loading$ | async) === false"
        [ngClass]="{ 'store--expand': isExpand }"
      >
        <div
          class="item collection__item"
          *ngFor="let item of templates"
          (click)="onClickTemplate(item)"
        >
          <div class="item-box">
            <img [src]="getFileUrl(item.files)" [alt]="item.name" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
