<div id="zone-right">
  <nz-tabset nzTabPosition="left" nzType="line">
    <nz-tab nzTitle="ICON"
      ><app-tab-icon (clickItem)="onClickItem($event)"> </app-tab-icon>
    </nz-tab>
    <nz-tab nzTitle="TEXT"
      ><app-tab-text (clickItem)="onClickItem($event)" t> </app-tab-text>
    </nz-tab>
    <nz-tab nzTitle="SHAPE"
      ><app-tab-shape (clickItem)="onClickItem($event)"> </app-tab-shape>
    </nz-tab>
    <nz-tab nzTitle="ELEMENT"
      ><app-tab-element (clickItem)="onClickItem($event)"> </app-tab-element>
    </nz-tab>
    <nz-tab nzTitle="DESIGNER"><app-tab-designer> </app-tab-designer> </nz-tab>
  </nz-tabset>
</div>
