<div class="tab-inner">
  <div>
    <nz-select
      [ngModel]="
        (collections$ | async)[0] ? (collections$ | async)[0].id : null
      "
      (ngModelChange)="collectionChange($event)"
    >
      <nz-option
        *ngFor="let item of collections$ | async"
        [nzValue]="item.id"
        [nzLabel]="item.title"
      ></nz-option>
    </nz-select>
  </div>
  <div class="store">
    <div
      class="item"
      *ngFor="let item of items$ | async"
      (click)="onClickItem(item)"
    >
      <div class="item-box">
        <img
          [src]="item.material.bucket + item.material.pathNormal"
          [alt]="item.title"
        />
      </div>
    </div>
  </div>
</div>
