<div class="tab-inner">
  <app-collection-list
    [collectionName]="'Shape'"
    [isQuery]="true"
    [collectionJoin]="getCollectionJoinShape()"
    [collectionFilter]="getCollectionFilterShape()"
    (clickItem)="onClickItem($event)"
  ></app-collection-list>

  <ng-container *ngFor="let item of collections$ | async">
    <nz-skeleton
      *ngIf="(collectionsLoading$ | async) === true"
      [nzActive]="true"
    ></nz-skeleton>
    <app-collection-list
      [collectionName]="item.title + ' collection'"
      [isQuery]="true"
      [collectionJoin]="getCollectionJoinItem(item)"
      [collectionFilter]="getCollectionFilterItem(item)"
      (clickItem)="onClickItem($event)"
    ></app-collection-list>
  </ng-container>
</div>
