<div class="tab-inner">
  <app-collection-material-list
    [collectionName]="'Shape'"
    [isQuery]="true"
    [collectionJoin]="collectionFilter"
    [collectionFilter]="collectionJoin"
    (clickItem)="onClickItem($event)"
  ></app-collection-material-list>

  <ng-container *ngFor="let item of collections$ | async">
    <nz-skeleton
      *ngIf="(collectionsLoading$ | async) === true"
      [nzActive]="true"
    ></nz-skeleton>
    <app-collection-material-list
      [collectionName]="item.title + ' collection'"
      [isQuery]="true"
      [collectionJoin]="collectionFilter"
      [collectionFilter]="collectionJoin"
      (clickItem)="onClickItem($event)"
    ></app-collection-material-list>
  </ng-container>
</div>
