button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.search {
  margin-bottom: 24px;
}
.section-heading {
  margin-left: 8px;
  font-weight: 300;
  color: #b9b9b9;
  font-size: 12px;
}
