<div class="tab-inner">
  <div class="search">
    <div class="search-inner">
      <input [(ngModel)]="q.fulltext" />
      <button
        nz-button
        nzType="primary"
        (click)="onClickSearch()"
        [nzLoading]="loading$ | async"
      >
        Search
      </button>
    </div>
    <div class="tag-search">
      <a class="tag" *ngFor="let item of tags" (click)="onClickTag(item)">
        {{ item.label }}
      </a>
    </div>
  </div>
  <nz-skeleton
    *ngIf="(loading$ | async) === true"
    [nzActive]="true"
  ></nz-skeleton>
  <div class="store" *ngIf="(loading$ | async) === false">
    <div
      class="item"
      *ngFor="let item of items$ | async"
      (click)="onClickItem(item)"
    >
      <div class="item-box">
        <img
          [src]="item.material.bucket + item.material.pathOrigin"
          [alt]="item.title"
        />
      </div>
    </div>
  </div>
</div>
