<div class="tab-inner">
  <div class="search">
    <div class="search-inner">
      <nz-input-group nzSearch [nzSuffix]="suffixIconSearch">
        <input
          type="text"
          nz-input
          placeholder="Find in 1.000.000 templates"
          [(ngModel)]="q.fulltext"
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <button
          nz-button
          nzType="link"
          (click)="onClickSearch()"
          [nzLoading]="loading$ | async"
        >
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
    </div>
    <div class="search-more">
      <nz-select nzSize="small" [ngModel]="category">
        <nz-option
          *ngFor="let item of categories"
          [nzValue]="item.value"
          [nzLabel]="item.label"
        ></nz-option>
      </nz-select>
      <nz-select nzSize="small" [ngModel]="style">
        <nz-option
          *ngFor="let item of styles"
          [nzValue]="item.value"
          [nzLabel]="item.label"
        ></nz-option>
      </nz-select>
    </div>
  </div>

  <ng-container *ngIf="fulltext">
    <nz-skeleton
      *ngIf="(loading$ | async) === true"
      [nzActive]="true"
    ></nz-skeleton>
    <app-collection-list
      [isQuery]="true"
      [collectionName]="'Result ' + fulltext"
      [collectionSearch]="fulltext"
      (clickItem)="onClickItem($event)"
    ></app-collection-list>
  </ng-container>
  <ng-container *ngIf="!fulltext">
    <ng-container *ngFor="let item of categories">
      <nz-skeleton
        *ngIf="(loading$ | async) === true"
        [nzActive]="true"
      ></nz-skeleton>
      <app-collection-list
        [isQuery]="true"
        [collectionName]="item.label"
        [collectionJoin]="getCollectionJoinItem(item)"
        [collectionFilter]="getCollectionFilterItem(item)"
        (clickItem)="onClickItem($event)"
      ></app-collection-list>
    </ng-container>
  </ng-container>
</div>
