<nz-layout>
  <nz-header>
    <app-header [editor]="editor"></app-header>
  </nz-header>
  <nz-content class="outer-content">
    <nz-layout class="inner-layout">
      <nz-sider nzWidth="400px" nzTheme="dark">
        <app-sidebar
          (clickItem)="onClickItem($event)"
          (clickTemplate)="onClickTemplate($event)"
        >
        </app-sidebar>
      </nz-sider>
      <nz-content class="inner-content">
        <section id="content" class="showOff on">
          <section id="design-zone">
            <div id="viewport-container"></div>
            <div id="toolview">
              <div class="toolview-inner">
                <button nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
                  {{ zoomSelected.label }}
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      *ngFor="let zoom of zooms"
                      nz-menu-item
                      (click)="onClickZoom(zoom)"
                    >
                      {{ zoom.label }}
                      <i
                        *ngIf="zoomSelected.value === zoom.value"
                        nz-icon
                        nzType="check"
                        nzTheme="outline"
                      ></i>
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </div>
          </section>
        </section>
      </nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>
