<nz-layout>
  <nz-header>
    <app-header></app-header>
  </nz-header>
  <nz-content class="outer-content">
    <nz-layout class="inner-layout">
      <nz-sider nzWidth="400px" nzTheme="dark">
        <app-sidebar (clickItem)="onClickItem($event)"></app-sidebar>
      </nz-sider>
      <nz-content class="inner-content">
        <section id="content">
          <section class="showOff on">
            <section id="zone-design">
              <div id="zone-left">
                <div id="areaWorkspace">
                  <div id="workspace-expand"></div>
                </div>
                <div id="designtool"></div>
              </div>
            </section>
          </section>
        </section>
      </nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>
